#itemDisplay{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "title title title" 
    "info stats stats"
    "location location location"
    "prev home next"
}

#itemFunction{
    margin: 0;
}

#fusionStats{
    grid-area: stats;
}

#fusionList{
    padding-left: 0; 
    list-style-type: none;
}

#itemLocations{
    grid-area: location;
}

#itemInfo{
    grid-area: info;
}

#itemHeading{
    grid-area: title;
}

.damageStat{
    font-size: 200%;    
}

@media (max-width: 600px){
    #itemDisplay{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
        "title title title" 
        "info info info"
        "stats stats stats"
        "location location location"
        "prev home next"
    }
}