#weaponDisplay{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
    "title title info" 
    "desc desc desc"
    "level level level"
    "rush strike counter"
    "effects effects effects"
    "location location location"
    "prev home next"
}

#weaponDisplay > * {
  padding: 2%;
  text-align: center;
  background-color:#7289DA;
  border-color: #4F5F99;
  border-width: 10px;
  border-style: solid;
}

#weaponDesc{
    grid-area: desc;
}

#weaponEffects{
    display: none;
    grid-area: effects;
}

#weaponLevelModifier{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    width: 30%;
    grid-area: level;
}

#weaponLevelValue{
    text-align: center;
    margin: auto;
    width: 30%;
}

#weaponLocations{
    display: none;
    grid-area: location;
}

#weaponInfo{
    grid-area: info;
}

#rDamage{
    grid-area: rush;
}

#sDamage{
    grid-area: strike;
}

#cDamage{
    grid-area: counter;
}

#weaponTitle{
    grid-area: title;
}

.damageStat{
    font-size: 200%;    
}


