#itemDisplay{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "title title info" 
    "desc desc desc"
    "func func func"
    "stats stats stats"
    "location location location"
    "prev home next"
}

#itemDisplay > * {
  padding: 2%;
  text-align: center;
  background-color:#7289DA;
  border-color: #4F5F99;
  border-width: 10px;
  border-style: solid;
}

#itemFunction{
    grid-area: func;
}

#fusionStats{
    grid-area: stats;
}

#fusionList{
    padding-left: 0; 
    list-style-type: none;
}

#fusionTitle{

}

.itemStat{
    
}

#itemDesc{
    grid-area: desc;
}

#itemLocations{
    grid-area: location;
}

#itemInfo{
    grid-area: info;
}

#itemTitle{
    grid-area: title;
}

.damageStat{
    font-size: 200%;    
}