#creatureDisplay{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "title title title" 
    "level info weapon" 
    "drops drops drops"
    "prev home next"
}

#creatureLevelModifier{
    display: flex;
    flex-direction: column;
    padding: 0;
    grid-area: level;
}


#creatureLevelValue{
    text-align: center;
    margin: auto;
    width: 30%;
}

#creatureDrops{
    grid-area: drops;
}

#creatureWeaponContainer{
    grid-area: weapon;
}

#creatureInfo{
    grid-area: info;
}

#creatureTitle{
    grid-area: title;
}

.damageStat{
    font-size: 200%;    
}

@media (max-width: 600px){
    #creatureDisplay{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        "title title title" 
        "level level level" 
        "info info info" 
        "weapon weapon weapon" 
        "drops drops drops"
        "prev home next"
    }
}