#effectDisplay{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "title title title" 
    "info level desc"
    "weapons weapons weapons"
    "prev home next"
}


#effectLevelModifier{
    display: flex;
    flex-direction: column;
    padding: 0;
    grid-area: level;
}

#effectDescriptionContainer{
    grid-area: desc;
}

#effectLevelValue{
    text-align: center;
    margin: auto;
}

#effectWeapons{
    grid-area: weapons;
}

#effectInfo{
    grid-area: info;
}

#effectTitle{
    grid-area: title;
}

@media (max-width: 600px){
    #effectDisplay{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
        "title title title" 
        "info info info"
        "level level level"
        "desc desc desc"
        "weapons weapons weapons"
        "prev home next"
    }
}