#weaponDisplay{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "title title title" 
    "info effects stats"
    "location location location"
    "prev home next"
}

#weaponDesc{
    grid-area: desc;
}

#weaponEffects{
    display: none;
    grid-area: effects;
}

#weaponLevelModifier{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    width: 80%;
    grid-area: level;
}

#weaponLevelValue{
    text-align: center;
    margin: auto;
    width: 30%;
}

#weaponLocations{
    display: none;
    grid-area: location;
}

#weaponInfo{
    grid-area: info;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#stats{
    grid-area:stats
}

#weaponHeading{
    grid-area: title;
}

@media (max-width: 600px){
    #weaponDisplay{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
        "title title title" 
        "info info info"
        "stats stats stats"
        "effects effects effects"
        "location location location"
        "prev home next"
    }
}