body{
    margin: 0;
    background-color: #484747;
}

div > h2 > a{
    text-decoration: none;
    color:black;
}

div > h2 > a:hover{
    text-decoration: none;
    color: #E8EEF2;
}

.mainContentDiv{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    border-color: #1D1D1D;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px; 
    background-color:#333;
}

.mainContentDiv > * {
    margin: 0;
    padding: 2%;
    text-align: center;
    background-color:#333;
    border-color: #1D1D1D;
    border-width: 10px;
    border-style: solid;
}

@media (max-width: 600px){
    .mainContentDiv > *  {
        padding: 4%;
    }

    .mainContentDiv{
        margin-left: 0;
        margin-right: 0;
    }
}

#staticHeader{
    top: 0;
    width: 100%;
    background-color: #333;
}

#header > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: hidden;
    background-color: #333;
}

#header > ul > li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header{
    display: flex;
    justify-content: center;
}

.headingText{
    color: #7289DA
}

.headingText2{
    color: #5E71B3
}

.contentText{
    color: #E8EEF2;
} 