#creatureFilterSelections{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.creatureTier{
    max-width: 10%;
    min-width: 10%;
    text-align: center;
}

.creatureName{
    max-width: 29%;
    min-width: 29%;
}

.creatureID{
    max-width: 10%;
    min-width: 10%;
    text-align: center;
}

.creatureWeapon{
    max-width: 20%;
    min-width: 20%;
    text-align: center;
}

.dropsList{
    max-width: 20%;
    min-width: 20%;
    text-align: center;
}
