#weaponFilterSelections{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.weaponDescription{
    padding-left:2%;
    padding-right:2%;
}

.weaponTier{
    max-width: 5%;
    min-width: 5%;
    text-align: center;
}

.weaponName{
    max-width: 20%;
    min-width: 20%;
}

.weaponDescription{
    max-width: 21%;
    min-width: 21%;
    text-align: center;
}

.weaponID{
    max-width: 5%;
    min-width: 5%;
    text-align: center;
}

.statsList{
    max-width: 20%;
    min-width: 20%;
    text-align: center;
}

.effectsList{
    max-width: 20%;
    min-width: 20%;
    text-align: center;
}