#itemFilterSelections{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itemDescription{
    padding-left:2%;
    padding-right:2%;
}

.itemTier{
    max-width: 10%;
    min-width: 10%;
    text-align: center;
}

.itemName{
    max-width: 29%;
    min-width: 29%;
}

.itemDescription{
    max-width: 26%;
    min-width: 26%;
    text-align: center;
}

.itemID{
    max-width: 10%;
    min-width: 10%;
    text-align: center;
}

.itemType{
    max-width: 20%;
    min-width: 20%;
    text-align: center;
}

.fusionsList{
    max-width: 20%;
    min-width: 20%;
    text-align: center;
}
