body{
    margin: 0;
    background-color: #1E2023;
}

#header > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow: hidden;
    background-color: #333;
}

#header > ul > li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header > ul > li a:hover {
    background-color: #111;
}

#header{
    display: flex;
    justify-content: center;
}

#staticHeader{
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #333;
    z-index: 1;
}
#reel{
    height: 10%;
}

#staticHeader > .contentDiv > p {
    color: #000;
}

#staticHeader > .contentDiv > ul > li {
    color: #000;
}

#staticHeader > .contentDiv > h1 {
    color: #000;
}

.contentDiv > p {
    color: #E8EEF2;
}

.contentDiv > ul > li {
    color: #E8EEF2;
}

.contentDiv > h1 {
    color: #E8EEF2;
}

.contentDiv > ul{
    padding-left: 0; 
    list-style-type: none;
}

.contentDiv > *{
    margin-top: 0;
    margin-bottom: 0;
    border-color: black;
    border-width: 3px;
    border-right-style: solid;
}

.contentDiv > a{
    text-decoration: none;
    font-size: 36px;
    color: #E8EEF2;
}

.contentDiv > a:hover{
    color: #7289DA;
}

.contentDiv > ul > li > a {
    text-decoration: none;
    color: #E8EEF2;
}

.contentDiv > ul > li > a:hover {
    text-decoration: none;
    color: #7289DA;
}

.contentDiv {
    background-color:#36393F;
    margin-top:2%;
    margin-bottom:2%;
    display: flex;
    flex-direction: row;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    z-index: -1;
}

#reel > .contentDiv{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hidden{
    display: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }


